<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Sass Folders.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Sass Watcher.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>934BDE57193B63EF009F2260</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>934BDE78193B63EF009F2260</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>934BDEE7193B772E009F2260</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>934BDF01193B772E009F2260</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
